@import "../../scss/SassVariables.scss";

.navbar {
  background-color: $white-color;
  display: flex;
  flex-direction:column;
  height: 100%;
  box-shadow: 1px 1px 1px $space-grey-color;  
  border-radius: 0.5rem;
  padding: 1rem 1rem 0rem 1rem;
  margin-left:1rem;
}

.navbar-title {
  margin: 10px;
  font-weight: bold;
  color: $blue-color;
}

.navbar-links {
  display: flex;
  flex-direction:column
}
.navbar-links-items {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: $space-grey-color;
  font-weight: bold;
}
