.mainContainer {
  display: flex;
  flex-direction: column;
}

.jobsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.moreTitle {
  margin: 1rem 0.5rem 0.5rem 1rem;
  font-weight: bold;
}
