@import "../../../scss/SassVariables.scss";

.card {
    margin: 1rem auto;
    border-radius: 6px;
    background-color: $white-color;
    box-shadow: 1px 1px 1px $space-grey-color;
    padding: 1rem;
    width: 90%;
  }

.card:hover{
  background-color: $secondary-color;
}