@import "../../../scss/SassVariables.scss";

.card {
<<<<<<< HEAD
  margin: 0rem auto 1rem auto;
  border-radius: 0.5rem;
  background-color: $white-color;
  box-shadow: 1px 1px 1px $space-grey-color;
  padding: 1rem 1rem 1rem 1rem;
}
=======
    border-radius: 0.5rem;
    background-color: $white-color;
    box-shadow: 1px 1px 1px $space-grey-color;
    padding: 1rem 1rem 1rem 1rem;
  }
>>>>>>> c335fbefd513ebef70da95d93dda7540d2ce8e18

// .card:hover{
//   background-color: $secondary-color;
// }
