@import "../../SassVariables.scss";

.mainSection {
  width: 95%;
  height: 100vh;
  margin: 10px;
  border-radius: 10px;
  background-color: $white-color;
  padding: 10px;
}

.mainSection-title {
  color: $blue-color;
}

.mainSection-skills-chips {
  display: flex;
}
