@import "../../scss/SassVariables.scss";

.orgContainer {
  width: 100%;
  float: left;
  margin-left: 1rem;
}
.orgHeader {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

.orgLogo {
  width: 24rem;
  height: 12rem;
}

.orgName {
  font-size: 5em;
}

.orgAboutus {
  font-size: 2em;
  margin-left: 1rem;
}
