@import "./SassVariables.scss";
.visible {
    display: block;
}

.hidden {
    display: none;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.prbg {
    background-color: $base-color;
 }

 .ht-full-viewport {
     height: 100vh;
 }

 .ht-full-percent {
    height: 100%;
}

.ht-deduct-1rem{
    height: calc(100% - 1rem)
}
