@import './utilities';
@import './general';
@import './SassVariables.scss';


//Layout 1:4
.layout-1-4{
    width: 100%;

    &-body-section-left {
        width: 20%;
        max-height: 100vh;
    }

    &-body-section-right {
        width: 80%;
    }

    &-leftSideBar {
        height: 90%;
        background-color: $white-color;
        box-shadow: 1px 1px 1px $space-grey-color;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



